* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

header {
    background-image: url(img/logo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    background-color: #0F2440;
    height: 70px;
    width: 20%;
    display: flex;
    align-items: center;
}

.logo2 {
    width: 150px;
    height: 75px;
}

.bar-btn {
    font-size: 25px;
    color: #ffffff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-footer {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 89%;
    background: #0F2440;
}

.nav-footer li {
    margin-left: 80%;
}

.nav-footer li a {
    color: #fff;
}

.nav-menu {
    width: 100%;
    background: #0F2440;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    padding: 30px 50px;
    display: none;
    line-height: 30px;
    margin: 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #0F2440;
    transition: .3s;
}

.nav-menu li:hover {
    background-color: #C1BFC2;
    color: #0F2440;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}

/* Luis Dueñas */
.noti {
    padding: 30px;
    background: #0f2440c2;
    font-size: 14px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    border-radius: 10px;
}

.fondo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/img.jpg);
    background-size: cover;
    height: 100%;
    margin: -10px;
}

.fondo2 {
    background-image: url(/img/img.jpg);
    background-size: cover;
    height: 100%;
    margin: -10px;
}

.l {
    text-shadow: 1px 1px 1px #666;
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.espacios {
    display: block;
    padding: 13px 0;
    color: white;
    text-shadow: 1px 1px 1px #666;
}

.boton {
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    width: 15%;
}

.barra {
    width: 97%;
    height: 29px;
}

.op {
    height: 30px;
    width: 97%;
}

.btn btn-primary {
    background-color: red;
}

/* Luis Dueñas */

@media screen and (min-width: 768px) {
    .logo2 {
        height: 100px;
        width: 200px;
    }

    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-footer {
        position: fixed;
        width: 100%;
        height: 70px;
        top: 91%;
        background: #0F2440;
    }

    .nav-footer li {
        margin-left: 90%;
    }

    .nav-footer li a {
        color: #fff;
    }

    .nav-menu {
        background-color: #0F2440;
        position: absolute;
        width: 300px;
        height: 86%;
        top: 100px;
        left: 0;
        text-align: left;
    }

    .nav-menu li {
        color: #fff;
        display: block;
        font-size: 25px;
        text-decoration: none;
        padding: 30px 50px;
        cursor: pointer;
        margin: 0;
    }

    .nav-menu li a {
        font-size: 12px;
    }
}